*~*
*.swap
*.pyc
*Rhistory
*RData
*.swp
screenlog*
*.ign
*.ignore
.nfs*
trash*
*.zip
*.rar
*.blg
*.bbl
*.aux
*.log
*.brf
*.nlo
*.out
*.dvi
*.ps
*.lof
*.toc
*.fls
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.ind
*.ilg
*.idx
nohup.out
